# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Trace files
blackbox/blocks/*

node_modules/
venv/
package-lock.json
config.json
explorer/db.sqlite3

explorer/styles/*.css